/* #sidebar{
    width: 300px;
    height: 100%;
}

ul>li:first-child{
    margin-top: 200px;
}

.toggle{
    width: 300px;
}
.close{
    width: 100px;
} */
.sidebar-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    transform: translateX(0);
    transition: 0.3s ease all;
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    color: #fff;
  }
  .sidebar-menu.open {
    transform: translateX(300px);
  }
  .sidebar-menu.open > ul > li > .link-nav {
    padding: 15px 20px;
    color: #fff;
  }
  .sidebar-menu > ul > li > .link-nav {
    padding: 15px 20px;
    color: #fff;
  }

ul{
  line-height: auto;
  list-style-type: none;
}
ul>li{
  margin: 25px;
  width: 100%;

}
ul>li::marker{
  display: none;
}
ul>li:first-child{
  margin-top: 200px;
}