#header{
    width: 100%;
    height: 100px;
    background: linear-gradient(60deg, #141E30, #243B55, #292e49);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#header .toggle-btn{
    background-color: #24243e;
    border: whitesmoke solid 3px;
    border-radius: 15px;
    color: whitesmoke;
    width: 60px;
    height: 60px;
}
#header .toggle-btn:hover{
    background-color: whitesmoke;
    border: #2e8495 solid 5px;
    border-radius: 15px;
    color: #2e8495;
}