.sidebar-menu {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease all;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
  color: #fff;
}
.sidebar-menu > .nav-link-text {
  display: none;
}

.sidebar-menu.open {
  width: 300px;
}
.sidebar-menu.open > .sidebar-nav-container > .sidebar-nav-element > .nav-link {
  padding: 15px 20px;
  color: #fff;
}
.sidebar-menu > .sidebar-nav-container > .sidebar-nav-element > .nav-link {
  padding: 15px 20px;
  color: #fff;
}

.sidebar-nav-container{
  line-height: auto;
  list-style-type: none;
  width: fit-content;
  margin: auto;
  padding: 0px;
}
.sidebar-nav-container > .sidebar-nav-element{
  margin: 25px;
  width: 100%;

}
.sidebar-nav-container > .sidebar-nav-element::marker{
  display: none;
}
.sidebar-nav-container > .sidebar-nav-element:first-child{
  margin-top: 200px;
}


@media screen and (max-width: 1000px){
  .sidebar-menu.open{
    width: 80px;  
  }
  .sidebar-menu.open > .sidebar-nav-container > .sidebar-nav-element > .nav-link {
    padding: 15px 5px;
  }
  .sidebar-nav-container > .sidebar-nav-element{
    margin: auto;
    width: 100%;
  }
  .nav-link-icon{}
  .nav-link-text{
    display: none;
  }
}