.todo-input{
    display: flex;
}
.todo-array{
    
}
.todo-array-container{
    margin-top: 20px;
    font-size: 1rem;
    padding-inline-start: 20px;
    line-height: 2.5rem;
}

.todo-array-element:hover{
    background-color: brown6;
}

.todo-array-element::marker{
    /* display: none; */
    content: '⭐';
}