#container{
    display: flex;
    width: 100%;
}
.right-container{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 100px;
    transition: 0.3s ease all;
  }
  .right-container.open {
    width: calc(100% - 300px);
    right: 0;
    top: 0;
  }

  .main-content{
    position: fixed;
    top: 100px;
    bottom: 50px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    margin: 30px 15px;
    width: 100%;
  }
  .main-content::-webkit-scrollbar {
    display: none;
  }