.right-container{
  width: calc(100% - 100px);
  margin-left: 80px;
  padding: 0 10px;
  position: absolute;
  top: 90px;
  bottom: 70px;
  overflow-y: scroll;
  transition: 0.3s ease all;
}
.right-container.open{
  width: calc(100% - 320px);
  margin-left: 300px;
  transition: 0.3s ease all;
}
.right-container::-webkit-scrollbar{
  display: none;
}



.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content.open{

}

.main-content::-webkit-scrollbar {
  display: none;
}