.header{
    width: calc(100% - 80px);
    height: 70px;
    background: linear-gradient(60deg, #141E30, #243B55, #292e49);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease all;
}
.header.open{
    width: calc(100% - 300px);
}

#header .toggle-btn{
    background-color: #e8c829;
    border: whitesmoke solid 2px;
    border-radius: 15px;
    color: whitesmoke;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    position: absolute;
    left: 10px;
}
#header .toggle-btn:hover{
    background-color: #bb9d03;
    border:whitesmoke solid 2px;
    color: #2e8495;
}